[xmpp]
hostname = xmpp.jsmart.web.id
port = 5254
component_name = area51.jsmart.web.id
password = *******
component_title = "PHP-Component example bot"
component_log = /dev/null

[database]
database_filename = 'example.db'

[misc]
default_nick = 'myTestBot'
